body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: top;
    background: rgb(200, 199, 199);
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.head {
    color: white;
    position: absolute;
    z-index: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.two {
    font-size: 2.1em;
    color: black;
}

.container {
    margin-top: 10vh;
    height: fit-content;
    transform-origin: bottom;
    border: 1px solid black;
    width: 30%;
    padding: 1.25em;
    display: flex;
    align-items: center;
    border-radius: 3vh;
    backdrop-filter: blur(10px);
    flex-direction: column;
    background-color: white;
    gap: 2.604vw;
    max-height: fit-content;
}

#todo {
    height: 4vh;
    border-radius: 5px;
    width: 15.625vw;
    background-color: whitesmoke;
    border: none;
    box-shadow: 0 0 0 2px;
    margin-left: 5vw;
}

input:focus {
    outline: none;
}

.try {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 19.792vw;
    border-radius: 5px;
    border: 2px solid #4e6190;
    background-color: black;
    padding: 0.625em;

    color: white;
    font-size: large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.alert {
    color: red;
    position: absolute;
    top: -2vh;
    height: 20px;
    width: 100px;
}

.btn {
    height: 4vh;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: white;
    border: none;
    cursor: pointer;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.fa {
    color: #d6542c;
    font-size: medium;
}

.active {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.submit {
    font-size: 1vw;
    width: 6.3vw;
    height: 5vh;
    background-color: rgb(129, 253, 129);
    border: none;
    border-radius: 8Q;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}